%h2.title Synchronize With Real Account

.inner
  %p 
    Enter the actual balance of your offset fund below and choose
    a fund to withdraw from to easily keep
    = $SITE_NAME
    in sync with your real account.

  - form_tag({ :action => "create" }, :class => "form") do
    .group
      = label_tag :budgeto_balance, nil, :class => "label"
      = "#{ currency(current_user.family.total_balance) }"

    .group
      = label_tag :actual_balance, nil, :class => "label"
      $
      = text_field_tag :actual_balance, nil, :class => "text_field amount"

    .group.navform
      = submit_tag "Synchronize", :class => "button"
      