%h2.title Synchronize With Real Account

.inner
  %p 
    Enter the actual balance of your savings account below to match the
    = $SITE_NAME
    balance with your savings account.

  = form_tag({ :action => "start" }, :class => "form") do
    .group
      = label_tag :budgeto_balance, "#{ $SITE_NAME } balance", :class => "label"
      = "#{ currency(current_user.family.total_balance) }"

    .group
      = label_tag :actual_balance, nil, :class => "label"
      $
      = text_field_tag :actual_balance, nil, :class => "text_field amount"

    .group.navform
      = submit_tag "Synchronize", :class => "button"
      