%h2.title Synchronize With Real Account

.inner
  %p= sync_desc

  %p
    - sync_fund = current_user.family.synchronize_fund
    - if sync_fund
      = "That money will be #{ sync_verb } from your "
      = "#{ link_to sync_fund.name, sync_fund } fund, but change the values in the fund below of you need to."

    - else
      = "You'll have to #{ sync_verb } some money from #{ $SITE_NAME }."
      = "Choose the fund(s) to #{ sync_verb } money"
      = "#{ wd ? "from" : "into" } below."

  - form_for(@transaction, :url => synchronize_index_path, :html => { :class => "form" }) do |f|
    = f.error_messages
    = f.hidden_field :description
    = f.hidden_field :dollars
    = hidden_field_tag :type, @transaction.class.name

    .group
      %hr/

    - f.fields_for(:fund_transactions) do |fields|
      .fund
        - da = fields.object
        = fields.hidden_field :fund_id, :value => da.fund_id, :id => "fund_#{ da.fund_id }"
        = fields.label :dollars, da.fund.name, :class => "label"
        .group
          $
          = fields.text_field :dollars, :class => "amount text_field"

    .group.navform
      = submit_button_for(f)
      
