%h2.title Synchronize With Real Account

.inner
  %p
    Your 
    = $SITE_NAME
    balance is 
    = currency(@withdrawal.dollars.abs)
    ahead of your real account.
  %p
    - sync_fund = current_user.family.synchronize_fund
    - if sync_fund
      That money will be withdrawn from your 
      = link_to sync_fund.name, sync_fund
      fund, but change the values in the fund below of you need to.

    - else
      You'll have to withdraw some money from 
      = "#{ $SITE_NAME }."
      Choose the fund(s) to withdraw money from below.

  - form_for(@withdrawal, :url => synchronize_index_path, :html => { :class => "form" }) do |f|
    = f.error_messages
    = f.hidden_field :description
    = f.hidden_field :dollars

    .group
      %hr/

    - f.fields_for(:fund_transactions) do |fields|
      .fund
        - da = fields.object
        = fields.hidden_field :fund_id, :value => da.fund_id, :id => "fund_#{ da.fund_id }"
        = fields.label :dollars, da.fund.name, :class => "label"
        .group
          $
          = fields.text_field :dollars, :class => "amount text_field"

    .group.navform
      = submit_button_for(f)
      or 
      = link_to "back", :back
      
