- form_for(@withdrawal, :html => { :class => "form" }) do |f|
  = f.error_messages

  - f.fields_for(:fund_transactions) do |fields|
    .fund
      - da = fields.object
      = fields.hidden_field :fund_id, :value => da.fund_id, :id => "fund_#{ da.fund_id }"
      = fields.label :dollars, da.fund.name, :class => "label"
      .group
        $
        = fields.text_field :dollars, :class => "amount text_field"

  .group.navform
    = submit_button_for(f)
    or 
    = link_to "back", :back
      
