<h1>Editing deposit_type</h1>

<% form_for(@deposit_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @deposit_type %> |
<%= link_to 'Back', deposit_types_path %>