<h1>Listing deposit_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @deposit_types.each do |deposit_type| %>
  <tr>
    <td><%=h deposit_type.name %></td>
    <td><%= link_to 'Show', deposit_type %></td>
    <td><%= link_to 'Edit', edit_deposit_type_path(deposit_type) %></td>
    <td><%= link_to 'Destroy', deposit_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deposit_type', new_deposit_type_path %>