- form_for(@deposit, :html => { :class => "form" }) do |f|
  = f.error_messages

  .group
    = f.label :dollars, "Amount", :class => "label"
    $
    = f.text_field :dollars, :class => "text_field total"

  .group
    = label_tag(:deposit_template, nil, :class => "label")
    = select_tag :deposit_template, deposit_template_options, :id => "deposit_template"

  .deposit_funds
    - f.fields_for(:fund_transactions) do |fields|
      .columns.fund
        - da = fields.object
        = fields.hidden_field :fund_id, :value => da.fund_id, :id => "fund_#{ da.fund_id }"
        = fields.label :dollars, da.fund.name, :class => "label"
        .column.left
          .group
            $
            = fields.text_field :dollars, :class => "amount text_field"
        .column.right
          .group
            = fields.text_field :percentage, :class => "percentage text_field"
            \%
      .clear

  .group
    = label_tag(:unallocated, "Total allocated", :class => "label")
    #unallocated.incorrect
      = currency(@deposit.allocated_dollars)

  .group.navform
    = submit_button_for(f)
    or 
    = link_to "back", :back
      
