%h2.title Withdraw money

.inner
  = form_for(@deposit, :url => { :action => "create_withdrawal" }, :html => { :class => "form" }) do |f|
    = f.error_messages

    .deposit_funds
      - f.fields_for(:deposit_funds) do |fields|
        .fund.group
          - da = fields.object
          = fields.hidden_field :fund_id, :value => da.fund_id, :id => "fund_#{ da.fund_id }"
          = fields.label :dollars, da.fund.name, :class => "label"
          $
          = fields.text_field :dollars, :class => "amount text_field"

    .group.navform
      = submit_button_for(f)
      or 
      = link_to "back", :back
      
