%h2.title Withdraw money

.inner
  - form_for(@deposit, :url => { :action => "create_withdrawal" }, :html => { :class => "form" }) do |f|
    = f.error_messages

    .deposit_accounts
      - f.fields_for(:deposit_accounts) do |fields|
        .account.group
          - da = fields.object
          = fields.hidden_field :account_id, :value => da.account_id, :id => "account_#{ da.account_id }"
          = fields.label :dollars, da.account.name, :class => "label"
          $
          = fields.text_field :dollars, :class => "amount text_field"

    .group.navform
      = submit_button_for(f)
      or 
      = link_to "back", :back
      
