- content_for :sidebar do
  - form_tag(transactions_path, :method => :get, :class => "form") do
    - if current_user.family.users.count > 1
      .block
        %h3 Users
        %ul.navigation.filter
          = check_box_filters_for("user_id", current_user.family.users)
        
    .block
      %h3 Funds
      %ul.navigation.filter
        = check_box_filters_for("fund_id", current_user.family.funds)

    .block
      %h3 Created
      %ul.navigation.filter
        = date_filter_for(:created_at)

        = submit_tag "Update List", :class => "button"
        or
        = link_to "Reset List"

