- simple_sidebar do
  %li= link_to "Create New Fund", new_fund_path

%h2.title
  %span= link_to "Edit", edit_fund_path(@fund)
  =h @fund.name

.inner
  %p
    Current balance:
    = currency(@fund.balance)

  - if @fund.default_synchronize_fund?
    %p
      This fund is set up to be your default fund to use
      for synchronizing with your real account.

  %br/
  %p
    %h4 Recent Transactions
    = render :partial => "/transactions/transaction_table", :object => @fund.recent_transactions
    = link_to "Show more transactions", transactions_path(:f => { "fund_transactions.fund_id" => @fund.id })

