!!! STRICT
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en"}
%head
  %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
  %title= $SITE_NAME
  = stylesheet_link_tag 'web_app_theme', "themes/bec/style", "application"
%body
  #container
    #header
      %h1=link_to $SITE_NAME, '/'
      #user-navigation
        %ul
          -if current_user
            %li
              - link_to do
                Logged in as: 
                = current_user.login
            %li= link_to 'Logout', user_session_path, :method => "delete"
          - else
            %li= link_to "Login", "/login"
        .clear    
      #main-navigation
        %ul
          %li= link_to "Funds", "/"
          %li= link_to "Transactions", deposits_path
          %li= link_to "Deposit Money", new_deposit_path
          %li= link_to "Withdraw Money", new_withdrawal_path
          %li.config= link_to "Deposit Templates", deposit_templates_path
          %li.config= link_to "Users", users_path
        .clear  
    #wrapper
      - if flash[:notice]
        .flash
          .message.notice
            %p= flash[:notice]

      #main
        #block-text.block
          .content
            = yield

      #sidebar
        .block
          %h3 Actions
          %ul.navigation
            = yield :sidebar

      .clear

  = javascript_include_tag :all