!!! STRICT
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en"}
%head
  %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
  %title= $SITE_NAME
  = stylesheet_link_tag 'web_app_theme', "theme", "application", "scaffold"
%body
  #container
    #header
      %h1= link_to "<span>#{ $SITE_NAME }</span>", '/'
      #user-navigation
        %ul
          -if current_user
            %li
              - link_to edit_user_path(current_user), :id => "profile" do
                Logged in as: 
                = current_user.login
            %li= link_to 'Logout', user_session_path, :method => "delete"
          - else
            %li= link_to "Login", "/login"
        .clear    
      #main-navigation
        %ul
          %li{ :class => link_class("funds") }= link_to "Funds", "/"
          %li{ :class => link_class("transactions") }= link_to "Transactions", transactions_path
          %li{ :class => link_class("deposits") }= link_to "Deposit Money", new_deposit_path
          %li{ :class => link_class("withdrawals") }= link_to "Withdraw Money", new_withdrawal_path
          %li{ :class => link_class("transfers") }= link_to "Transfer Money", new_transfer_path
          %li{ :class => link_class("synchronize") }= link_to "Synchronize", new_synchronize_path
          %li.config{ :class => link_class("deposit_templates") }= link_to "Deposit Templates", deposit_templates_path
          %li.config{ :class => link_class("users") }= link_to "Users", users_path
        .clear  
    #wrapper
      - if flash[:notice]
        .flash
          .message.notice
            %p= flash[:notice]
      - if flash[:error]
        .flash
          .message.error
            %p= flash[:error]

      #main
        #block-text.block
          .content
            = yield

      #sidebar
        = yield :sidebar

      .clear

  = javascript_include_tag :all
  = calendar_date_select_includes