- site_name = "BUDGETO"

!!! STRICT
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en"}
%head
  %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
  %title= site_name
  = stylesheet_link_tag 'web_app_theme', "themes/bec/style", "application"
%body
  #container
    #header
      %h1=link_to site_name, '/'
      #user-navigation
        %ul
          -if current_user
            %li
              - link_to do
                Logged in as: 
                = current_user.login
            %li= link_to 'Logout', user_session_path, :method => "delete"
        .clear    
      #main-navigation
        %ul
          %li= link_to "Accounts", "/"
          %li= link_to "Deposit Types", deposit_types_path
          %li= link_to "Deposits", deposits_path
        .clear  
    #wrapper
      - if flash[:notice]
        .flash
          .message.notice
            %p= flash[:notice]

      #main
        #block-text.block
          .content
            = yield

      #sidebar
        .block
          %h3 Actions
          %ul.navigation
            %li= link_to "Deposit money", new_deposit_path
            = yield :sidebar

      .clear

  = javascript_include_tag :all